{% extends "index.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="logo-container">
    <img src="{{ url_for('static', filename='img/ljs.png') }}" alt="LJS Game Center Logo" class="logo-image">
</div>
<div class="form-container">
    <h2>Login</h2>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <div class="sso-container">
        <p>or login with</p>
        <a href="/login_google" class="google-signin-button">
            <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo" width="18" height="18">
            <span>Sign in with Google</span>
        </a>
    </div>
</div>
{% endblock %}
