{% extends "index.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="logo-container">
    <img src="{{ url_for('static', filename='img/ljs.png') }}" alt="LJS Game Center Logo" class="logo-image">
</div>
<div class="form-container">
    <h2>Register</h2>
    <form action="/register" method="post">
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}

